<h1>app-lesson3</h1>
<ul>
  <li *ngFor="let week of weeks; let i = index"> {{i}}-{{week}} </li>
</ul>

<div *ngFor="let item of users">{{item.name}} + {{item.age}}</div>

<ul>
  <li *ngFor="let sroce of sroces">{{sroce}}分</li>
</ul>

{{now | date:'yyyy-MM-dd'}}
{{users | repeat: 3}}

