<h1>app-lesson1</h1>
tw
<input type="number" [(ngModel)]="tw" (ngModelChange)="moneyChange1($event)">
<p>us${{tw*30}}</p>
<p>jp${{tw/5}}</p>

<button (click)="changeService()">Change</button>

{{bmiService.name}}

<button (click)="callService()">Service Call</button>
