<!-- <button *ngIf="isShow" (click)="sayHi('1111')">click</button>

<app-lesson1></app-lesson1>
<app-lesson2></app-lesson2>
<app-lesson3></app-lesson3>
<app-lesson4></app-lesson4>
<br>
<input type="text" [(ngModel)]="acc.account">
<input type="text" [(ngModel)]="acc.password">
{{acc | json}}

<br> -->
<!-- <app-star buttonTitle="Hi" (bclick)="sayHi($event)"></app-star> -->
<!-- <app-lesson6></app-lesson6> -->


<!-- <a [routerLink]="['/lon1']">lon1</a>
<a [routerLink]="['/lon2']">lon2</a> -->
<a routerLink="/Lesson1">Lesson1</a>
<a routerLink="/Lesson2">Lesson2</a>
<a routerLink="/Lesson3">Lesson3</a>
<a routerLink="/Lesson4">Lesson4</a>
<a routerLink="/Lesson5">Lesson5</a>
<a routerLink="/Lesson6">Lesson6</a>
<a routerLink="/Lesson8">Lesson8</a>
<a routerLink="/Lesson9">Lesson9</a>
<router-outlet></router-outlet>
